@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a simple web application done with Dotnet Core as a sanity check if I'm able to produce solutions to challenges</p>
