@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Yu Nako<br />
    Too far away somewhere<br />
    <abbr title="Phone">P:</abbr>
    425.555.0999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@yunako.com">Support@yunako.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@yunako.com">Marketing@yunako.com</a>
</address>
